<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>360196751882-hchnuedargrveorcgglp850h3lrvbbua.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.360196751882-hchnuedargrveorcgglp850h3lrvbbua</string>
	<key>API_KEY</key>
	<string>AIzaSyAPj8vCcj0IZS10JNjcSctjRNFYLmsJuu4</string>
	<key>GCM_SENDER_ID</key>
	<string>360196751882</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.webxsoftware.deviceManagement</string>
	<key>PROJECT_ID</key>
	<string>device-management-317821</string>
	<key>STORAGE_BUCKET</key>
	<string>device-management-317821.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:360196751882:ios:6703822a204bf10918d5f3</string>
</dict>
</plist>